.bookings-chatroom {
  background-color: $beige;
  border-radius: 10px;
  display: flex;
}

.chatroom {
  background: $beige;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  color: $darkgreen;
  flex: 0 0 40%;

  h1 {
    border-bottom: 1px solid $darkgreen;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.bookings {
  display: flex;
  flex: 0 0 50%;
  background-color: $beige;
  border-radius: 10px;
  flex: 0 0 60%;
}
