.bookings-container {
  background-color: $beige;
  height: 60.5vh;
  border: 2px solid $darkgreen;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  box-shadow: 2px 2px 10px $darker-rose;
}

.h2-bookings {
  margin: 1.5rem;
}

.li-bookings {
  margin: 2rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.li-bookings div {
  margin: 1rem 1.5rem;
}
.bookings-ul {
  list-style: none;
}

.nav-ul li {
  font-size: 1.5rem;
  color: $darkgreen;
  border-radius: 20px;
}

.nav-ul {
  margin-top: 0;
  margin-bottom: 2vh;
}

.li-div-width {
  width: 20%;
}

.confirmation-action {
  width: 50px;
}

.fa-trash {
  color: $darkgreen;

  &:hover {
    color: $darker-rose;
  }
}

.bookings-naming {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
}

.bookings-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding-left: 2rem;
  height: 0;
  align-items: center;
  text-align: center;
  padding-top: 2.5rem;
}

.bookings-titles h5 {
  width: 20%;
  font-size: 1rem;
  font-weight: 700;
}

.tabs {
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.left-side-profile {
  text-align: center;
}

.skill-card-img-profile {
  width: 10vw;
  height: 10vw;
  border: 2px solid $darkgreen;
  border-radius: 50%;
  margin: 1.2rem 0;
  background-color: $white;
  box-shadow: 2px 2px 10px $darkgreen;
  object-fit: cover;
}

.left-side-profile {
  list-style-type: none;
  text-align: center;
  height: 55vh;
  margin-right: 5vh;
  left: 0;
}

.biography-profile {
  background-color: $darker-rose;
  height: 55vh;
  width: 58vh;
  border-radius: 20px;
  box-shadow: 2px 2px 10px $darkgreen;
}

.skills-i-teach {
  background-color: $darker-rose;
  height: 55vh;
  width: 42vh;
  border-radius: 20px;
  box-shadow: 2px 2px 10px $darkgreen;
}

.skills-i-teach h2,
.biography-profile h2 {
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tab.active {
  background-color: $beige;
}
.each-skill {
  margin-top: 2rem;
  background-color: $beige;
}

.profile-container.active {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}

li button {
  border: none;
  border-radius: 20px;
  background-color: $beige;
  height: 2.5rem;
  text-align: center;
}

li button.active {
  color: $beige;
  background-color: $darkgreen;
}

li button a.active {
  color: $beige;
  background-color: $darkgreen;
}

.btn:focus {
  outline: none;
}

.nav-link {
  color: $darkgreen;
  border-radius: 20px;
  background-color: $beige;
  padding: 0 0.5rem;
  width: 7vw;
  height: 5vh;
}

.nav-link:hover {
  color: $darkgreen;
  background-color: $darker-rose;
}

.nav-link:focus {
  color: white !important;
}
