.cartoon-show {
  position: relative;
  z-index: 1;
  background-image: url("Friendly Ones - Friendly Brush Strokes.svg");
  height: 150%;
  width: 150%;
  background-repeat: no-repeat;
  background-size: contain;
  }

  .show-page {
    position: relative;
    z-index: 2;
    top: 0px;
    left: 0px;
  }
