.show-page {
  z-index: 1;
  background-image: url("30 transparent show.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  flex-grow: 1;
}

.cartoon-show {
  display: grid;
  grid-template-rows: auto auto auto;
}

  // delete comment
