  .show-page {
    z-index: 1;
    background-image: url("30_transparent show.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  // delete comment
