.teacher-profile {
  background-color: $beige;
  border-radius: 10px;
  display: flex;
  flex: 0 0 50%;
}

.img-circle {
  align-self: center;
  width: 200px;
  // object-fit: cover;
  background-size: cover;
}

.teacher-information {

}

.booking-form {
  padding: 1.5em;
  margin-left: 1.5em;
  border-radius: 10px;
  background-color: $beige;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex: 0 0 50%;
}
