h2 {
  color: $darkgreen;
}

.teacher-profile {
  background-color: $beige;
  border-radius: 10px;
  display: flex;
  flex: 0 0 50%;
  p {
    color: $darkgreen;
  }
  i {
    color: $darkgreen;
  }
}

.teacher-information {
  text-align: left;
  display: flex;
  padding: 1.5em;
  flex-direction: column;
  align-items: stretch;
}


.img-rectangle {
  align-self: center;
  width: 300px;
  box-shadow: 2px 2px 5px $darker-rose;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.teacher-description {
  padding: 1.5em;
}

.booking-form {
  position: relative;
  padding: 1.5em;
  margin-left: 1.5em;
  border-radius: 10px;
  background-color: $beige;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 0 0 50%;
  .button-main {
    margin-top: 15px;
  }
  label {
    color: $darkgreen;
  }
}

.booking-form::after {
  content: "";
  background-image: asset-url("Cool_Kids_Bust");
  background-repeat: no-repeat;
  background-position: bottom;
  background-position: right;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

.user-skill-points {
  margin: 2.5vh 0;
  font-size: 20px;
}

#booking_message {
  height: 35vh;
}

.button-main:disabled {
  background-color: #e9ecef;
  color: grey;
  border: 1px solid grey;
}

.sign-in-link {
  text-decoration: underline;

 &:hover {
   text-decoration: none;
   font-weight: 600;
   color: $darkgreen;
 }
}
