<div class="skill-index">
  <% if params[:skill].present? %>
    <h2>Your result for <%= params[:skill] %></h2>
  <% else %>
    <h2>Browse all skills</h2>
  <% end %>
  <div class="skills">
      <% @skills.each do |skill| %>
        <%= link_to skill_path(skill), class: "skill-name" do %>
          <div class="skill-container" >
            <%= skill.name %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
