<div class="skill-card-sorting">
  <% @users.each do |user| %>
    <%= link_to(user_skill_path(user.user_skills.select { |element| element.skill == @skill }.first)) do %>
    <div class="skill-card">
      <img class="skill-card-img" src="https://i.pinimg.com/originals/05/34/01/053401c399000c51b72f51e73d577beb.jpg">
      <h2 class="user-name-card"><%= user.username %></h2>
      <p><%= user.user_skills.select { |element| element.skill == @skill }.first.description %></p>
    </div>
    <% end %>
  <% end %>
</div>
