hello hello
<!-- Skill card, it's on this page just so I can see it on the website, will be taken on it's right page later-->
<div class="skill-card">
  <img class="skill-card-img" src="https://i.pinimg.com/originals/05/34/01/053401c399000c51b72f51e73d577beb.jpg">
  <h2 class="user-name-card">Name</h2>
  <p>This is some text about me and my skills</p>
</div>
