<div class="footer">
  <div class="footer-links">
    <%= link_to "How it works", how_it_works_path %>
    <div class='footer-central-text'>
      <h5>This application was built for our final project at the Le Wagon bootcamp in Berlin, March 2022.</h5>
      <h6>© 2022 SKILL-UP - All Rights Reserved</h6>
    </div>
    <div class="footer-sm">
      <a href="https://github.com/lizzie102938"><i class="fab fa-github"></i> Lizzie Lerwill</a>
      <a href="https://github.com/DavidML89"><i class="fab fa-github"></i>  David Morio Lesavourey</a>
      <a href="https://github.com/thearandow"><i class="fab fa-github"></i> Dorothea von Randow</a>
      <a href="https://github.com/AleksanderGjinollari"><i class="fab fa-github"></i> Aleksander Gjinollari</a>
    </div>
  </div>
</div>
