<ul class="nav justify-content-center ul-profile">
  <li data-tab-target="#profile" class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Profile</a>
  </li>
  <li data-tab-target="#bookings" class="nav-item">
    <a class="nav-link" href="#">Bookings</a>
  </li>
  <li data-tab-target="#requests" class="nav-item">
    <a class="nav-link" href="#">Requests</a>
  </li>
</ul>

<div id="profile-id">
  <div class="left-side-profile">
    <img class="skill-card-img-profile" src="https://i.pinimg.com/originals/05/34/01/053401c399000c51b72f51e73d577beb.jpg">
    <h2><%= current_user.username %></h2>
    <h4>Age: <%= current_user.age %></h4>
    <h4>I can speak: <%= current_user.language %></h4>

  </div>
  <div class="my-skills">
    <h3 class="header-styling">Skills I can teach:</h3>
    <div class="skill-profile">

      <h4> Skill name </h4>
      <p>skill description</p>
    </div>
  </div>
  <div class="biography">
    <h3 class="header-styling">Biography:</h3>
  </div>
</div>
