<script src="app/javascript/controllers/tabs_controller.js" defer></script>
<ul class="nav justify-content-center">
  <li data-tab-target="#profile" class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Profile</a>
  </li>
  <li data-tab-target="#bookings" class="nav-item">
    <a class="nav-link" href="#">Bookings</a>
  </li>
  <li data-tab-target="#requests" class="nav-item">
    <a class="nav-link" href="#">Requests</a>
  </li>
</ul>

<div class="tab-content">
  <div id="profile" data-tab-content>
    <h1>Profile</h1>
    <p>profile page</p>
  </div>

  <div id="Bookings" data-tab-content>
    <h1>Bookings</h1>
    <p>Bookings page</p>
  </div>

  <div id="Requests" data-tab-content>
    <h1>Requests</h1>
    <p>Requests page</p>
  </div>
