<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!-- Search bars for all pages. Must also copy them to navbar -->
<div class="search-bars">
  <input class="search-1" type="text" placeholder="Skill">
  <input class="search-1"type="text" placeholder="City">
  <button class="button-main" type="button">Search</button>
</div>
