<div class="homescreen">
  <div class="leftscreen">
    <h1>SKILL UP</h1>
    <p>Teach your skills, earn points and learn new skills for free</p>

    <p>Search bar</p>
    <p>Search button</p>
  </div>
  <div class="rightscreen">
    <img class="avatar-large" src='https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-733872.jpg&fm=jpg' alt='woman'>
    
<div class="search-bars">
  <input class="search-1" type="text" placeholder="Skill">
  <input class="search-1"type="text" placeholder="City">
  <button class="button-main" type="button">Search</button>
</div>
