
<div class="search-bars">
  <input class="search-1" type="text" placeholder="Skill">
  <input class="search-1"type="text" placeholder="City">
  <button class="button-main" type="button">Search</button>
</div>
