<div class=homescreen>
  <div class=leftscreen>
    <h1>SKILL UP</h1>
    <p>Teach your skills, earn points and learn new skills for free</p>

    Search bar
    Search button
  </div>
  <div class=rightscreen>
    img
  </div>
</div>
