.footer {
  // position: relative;
  // overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  color: $white;
  background-color: $darkgreen;
  font-size: 20px;
}

.footer a {
  color: $white;
  padding: 15px;
}

.footer a:hover {
  color: $darker-rose;
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: $white;
}
