.footer {
  // position: relative;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  color: $white;
  background-color: $darkgreen;
  font-size: 15px;
  padding: 1vh 5vh 1vh;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 5vh;
}

.footer-sm {
  display: flex;
  flex-direction: column;
}

.footer a {
  color: $white;
  padding: 1vh;
}

.footer a:hover {
  color: $darker-rose;
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: $white;
}

.footer-central-text {
  text-align: center;
  & h5 {
    font-size: 15px;
  }
  & h6 {
    font-size: 10px;
  }
}
