.map-results-flexbox {
  display: flex;
}

.map-div {
  border-radius: 10px;
  border: 0.15rem solid $darkgreen;
  display: flex;
  position: relative;
  // top: 90px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  font-size: 12px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  position: relative;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 5px;
  pointer-events: auto;
}
