// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/themes/light";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "mapbox-gl/dist/mapbox-gl";



.map-results-flexbox {
  display: flex;
}

.map-div {
  border-radius: 10px;
  border: 0.15rem solid $darkgreen;
  display: flex;
}

.sign-up-form {
  width: 35vw;
  margin: auto;
}

#sign-up-title {
  padding-bottom: 10px;
  text-align: center;
}

#log-in-title {
  padding-bottom: 10px;
  text-align: center;
}

.login {
  background-color: $darkgreen;
  border-radius: 15px;
  padding: 0.4rem 0.7rem;
  color: white;
  font-size: 1rem;
  transition: 0.1s;
  font-weight: bolder;
  width: 7vw;
  padding-top: 10px;
  margin-bottom: 10px;
}

.login:hover {
  background-color: $darker-rose;
  color: $darkgreen;
  transition: 0.1s;
  border-width: 3px;
}

.log-in-form {
  width: 30vw;
  margin: auto;
}
